@import "tailwindcss";

@theme {
  --color-brand-navy: #1c3249;
  --color-brand-navy-light: #28425c;
  --color-brand-orange: #ff6600;
  --color-brand-orange-dark: #e05a00;
}

html,
body {
  @apply bg-gray-50 text-brand-navy;
}
